<div class="cocktail-container">

  <div class="wrapper">


      <div class="cocktail-photo" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @cocktail.photo, height: 300, width: 400, crop: :fill %>');" data-aos="flip-left">
      </div>

      <div class="cocktail-description">
         <div class="title">
          <h1><%= @cocktail.name %></h1>
        </div>
        <% @cocktail.doses.each do |dose| %>
          <h2>
            <%= dose.description %>
            <%= dose.ingredient.name %>
            <%= link_to 'Delete', dose_path(dose), method: :delete %>
          <br>
        <% end %>
        <%= link_to "Add a dose", new_cocktail_dose_path(@cocktail), class: "btn btn-primary btn-add" %>
        </h2>
      </div>

    </div>

</div>
